@CHARSET "ISO-8859-1";

.main{
}

.main .menu{
}

.main .menu .menu-item{
}


.processes li{
	padding: 3px 0 2px 16px;
}

.processes span.BusinessProcess, .processes span.step{
	padding: 1px 0 1px 16px;
	display: block;
	cursor: pointer;
}

.processes span.BusinessProcess{
	background: url(images/process.gif) 0 0 no-repeat;
}

.processes li.expandable span.BusinessProcess{
	background: url(images/process-closed.gif) 0 0 no-repeat;
}

.processes span.ActivityStep{
	background: url(images/activity-step.gif) 0 0 no-repeat;
}
	
.processes span.AssignStep{
	background: url(images/assign-step.gif) 0 0 no-repeat;
}
	
.processes span.ElseStep{
	background: url(images/else-step.gif) 0 0 no-repeat;
}
	
.processes span.Flow{
	background: url(images/flow.gif) 0 0 no-repeat;
}

.processes span.Foreach{
	background: url(images/foreach.gif) 0 0 no-repeat;
}

.processes span.If{
	background: url(images/if.gif) 0 0 no-repeat;
}
	
.processes span.Scope{
	background: url(images/scope.gif) 0 0 no-repeat;
}
	
.processes span.Sequence{
	background: url(images/sequence.gif) 0 0 no-repeat;
}
